<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CarMapper">
	<resultMap type="com.example.entity.Car" id="carMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="passengers" property="passengers"/>
		<association property="driver" javaType="com.example.entity.Driver">
			<id column="d_id" property="id"/>
			<result column="d_name" property="name"/>
		</association>
		<collection property="customers" ofType="com.example.entity.Customer">
			<id column="cu_id" property="id"/>
			<result column="cu_name" property="name"/>
		</collection>
	</resultMap>

	<select id="findAll" resultMap="carMap">
		SELECT
			*
		FROM
			cars
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="name != null">
				OR name = #{name}
			</if>
			<if test="passengers != null">
				OR passengers = #{passengers}
			</if>
		</where>
	</select>

	<select id="findById" resultMap="carMap">
		SELECT
			c.id,
			c.name,
			c.passengers,
			d.id AS d_id,
			d.name AS d_name,
			cu.id AS cu_id,
			cu.name AS cu_name
		FROM
			cars AS c
		INNER JOIN
			drivers AS d
		ON
			c.id = d.cars_id
		LEFT OUTER JOIN
			customers AS cu
		ON
			c.id = cu.cars_id
		WHERE
			c.id = #{id}
	</select>

	<insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO cars (id, name, passengers) VALUES (nextval('car_id_seq'), #{name}, #{passengers})
	</insert>

	<update id="update">
		UPDATE cars SET name = #{name}, passengers = #{passengers} WHERE id = #{id}
	</update>

	<delete id="deleteById">
		DELETE FROM cars WHERE id = #{id}
	</delete>
</mapper>