<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>車両一覧表示</title>
</head>
<body>
	<h1>検索フォーム</h1>
    <form th:action="@{/index}" method="get">
        <div>
            <label>車両ID</label>
            <input type="number" name="carId">
        </div>
        <div>
            <label>車両名</label>
            <input type="text" name="carName">
        </div>
        <div>
            <label>乗員数</label>
            <input type="number" name="carPassengers">
        </div>
        <input type="submit" value="検索">
    </form>
    <h1>車両一覧表示</h1>
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>車両名</th>
				<th>乗員数</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="car : ${cars}">
				<td th:text="${car.id}"></td>
				<td th:text="${car.name}"></td>
				<td th:text="${car.passengers}"></td>
				<td>
                    <form th:action="@{/detail/{id}(id=${car.id})}" method="get">
                        <input type="submit" value="詳細">
                    </form>
                </td>
				<td>
                    <form th:action="@{/edit/{id}(id=${car.id})}" method="get">
                        <input type="submit" value="編集">
                    </form>
                </td>
				<td>
                    <form th:action="@{/delete/{id}(id=${car.id})}" method="post">
                        <input type="submit" value="削除">
                    </form>
                </td>
			</tr>
		</tbody>
	</table>
	<h1>新規登録フォーム</h1>
	<form th:action="@{/create}" method="post" th:object="${carForm}">
		<div>
			<label>車両名</label>
		</div>
		<div>
			<input th:field="*{name}" type="text" placeholder="車両名を入力してください">
		</div>
		<div>
			<label>乗員数</label>
		</div>
		<div>
			<input th:field="*{passengers}" type="number" placeholder="乗員数を入力してください">
		</div>
		<div>
			<input type="submit" value="登録する">
		</div>
	</form>
</body>
</html>